In [4]:
import pandas as pd

In [5]:
from config import cfgInfo

In [6]:
data = "data/arq_photocontest_data.csv"

In [7]:
df = pd.read_csv(data,sep=';')

In [8]:
df.head()

,ref,nationality_en,nationality_es,photo,photo_locality,photo_country_en,photo_country_es,date
0,ASF_01,Spain,España,Canasta,País Vasco,Spain,España,01/08/2015
1,ASF_02,Spain,España,Campo de fútbol,Barajas. Madrid,Spain,España,01/08/2015
2,ASF_03,Brazil,Brasil,Japaratinga Brasil,"Palmas, Tocantins",Brazil,Brasil,NaN
3,ASF_04,Denmark,Dinamarca,Cusco rooftop,Cuzco,Peru,Perú,01/09/2014
4,ASF_05,Denmark,Dinamarca,Yanque early morning,Cuzco,Peru,Perú,01/09/2014

In [9]:
df.count()

ref                 690
nationality_en      688
nationality_es      688
photo               690
photo_locality      680
photo_country_en    690
photo_country_es    690
date                656
dtype: int64

In [10]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls

In [11]:
ply_apikey = cfgInfo.get("ply_apikey")

In [12]:
ply_user = cfgInfo.get("ply_user")

In [13]:
py.sign_in(ply_user, ply_apikey)

In [14]:
photo_ctry_ct = pd.DataFrame(df.groupby('photo_country_en').size()).sort_values(by=0,ascending=False);

In [15]:
photo_ctry_ct.head()

                   0
photo_country_en
Spain             56
India             54
Turkey            46
Brazil            44
Peru              40

In [16]:
data = [go.Bar(x=photo_ctry_ct.index, y=photo_ctry_ct[0])]

In [17]:
layout = go.Layout(
    title='Number of pictures taken by country',
    xaxis=dict(
        title='',
        tickangle=45,
        titlefont=dict(
            family='Arial, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Number of pictures',
        titlefont=dict(
            family='Arial, monospace',
            size=14,
            color='#7f7f7f'
        )
    )
)

In [18]:
fig = go.Figure(data=data, layout=layout)

In [19]:
ply_url = py.plot(fig, filename='phototakenin-bar-chart', layout=layout)

In [20]:
tls.embed(ply_url)

In [21]:
ntnlty_ctry_ct = pd.DataFrame(df.groupby('nationality_en').size()).sort_values(by=0,ascending=False);

In [22]:
ntnlty_ctry_ct.head()

                  0
nationality_en
Spain           233
Turkey           53
Italy            52
Argentina        44
Portugal         36

In [23]:
data_2 = [go.Bar(x=ntnlty_ctry_ct.index, y=ntnlty_ctry_ct[0])]

In [24]:
layout_2 = go.Layout(
    title='Number of pictures taken by photographer\'s nationality',
    xaxis=dict(
        title='',
        tickangle=45,
        titlefont=dict(
            family='Arial, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Number of pictures',
        titlefont=dict(
            family='Arial, monospace',
            size=14,
            color='#7f7f7f'
        )
    )
)

In [25]:
fig_2 = go.Figure(data=data_2, layout=layout_2)

In [26]:
ply_url_2 = py.plot(fig_2, filename='phototakennatnlty-bar-chart', layout=layout_2)

In [27]:
tls.embed(ply_url_2)

In [28]:
photo_ctry_ct.to_csv('data/photo_ctry_ct.csv')

In [29]:
ntnlty_ctry_ct.to_csv('data/ntnlty_ctry_ct.csv')

In [30]:
from cartodb import CartoDBAPIKey, CartoDBException, FileImport

In [31]:
API_KEY = cfgInfo.get("cb_apikey")
cartodb_domain = cfgInfo.get("cb_domain")
cl = CartoDBAPIKey(API_KEY, cartodb_domain)

In [35]:
fi = FileImport("data/photo_ctry_ct.csv", cl, create_vis='false', privacy='public')
fi.run()

In [36]:
fi_2 = FileImport("data/ntnlty_ctry_ct.csv", cl, create_vis='false', privacy='public')
fi_2.run()