In [60]:
import pandas as pd

In [61]:
from config import cfgInfo

In [62]:
data = "data/arq_photocontest_data.csv"

In [63]:
df = pd.read_csv(data,sep=';')

In [64]:
df.head()

,ref,nationality_en,nationality_es,photo,photo_locality,photo_country_en,photo_country_es,date
0,ASF_01,Spain,España,Canasta,País Vasco,Spain,España,01/08/2015
1,ASF_02,Spain,España,Campo de fútbol,Barajas. Madrid,Spain,España,01/08/2015
2,ASF_03,Brazil,Brasil,Japaratinga Brasil,"Palmas, Tocantins",Brazil,Brasil,NaN
3,ASF_04,Denmark,Dinamarca,Cusco rooftop,Cuzco,Peru,Perú,01/09/2014
4,ASF_05,Denmark,Dinamarca,Yanque early morning,Cuzco,Peru,Perú,01/09/2014

In [65]:
df.count()

ref                 690
nationality_en      688
nationality_es      688
photo               690
photo_locality      680
photo_country_en    690
photo_country_es    690
date                656
dtype: int64

In [66]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls

In [67]:
ply_apikey = cfgInfo.get("ply_apikey")

In [68]:
ply_user = cfgInfo.get("ply_user")

In [69]:
py.sign_in(ply_user, ply_apikey)

In [70]:
photo_ctry_ct = pd.DataFrame(df.groupby('photo_country_en').size()).sort_values(by=0,ascending=False);

In [71]:
photo_ctry_ct.rename(columns={0: "cnt"}, inplace=True)
photo_ctry_ct.head()

                  cnt
photo_country_en
Spain              56
India              54
Turkey             46
Brazil             44
Peru               40

In [72]:
data = [go.Bar(x=photo_ctry_ct.index, y=photo_ctry_ct["cnt"])]

In [73]:
layout = go.Layout(
    title='Number of pictures taken by country',
    xaxis=dict(
        title='',
        tickangle=45,
        titlefont=dict(
            family='Arial, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Number of pictures',
        titlefont=dict(
            family='Arial, monospace',
            size=14,
            color='#7f7f7f'
        )
    )
)

In [74]:
fig = go.Figure(data=data, layout=layout)

In [75]:
ply_url = py.plot(fig, filename='phototakenin-bar-chart', layout=layout)

In [76]:
tls.embed(ply_url)

In [77]:
ntnlty_ctry_ct = pd.DataFrame(df.groupby('nationality_en').size()).sort_values(by=0,ascending=False);

In [78]:
ntnlty_ctry_ct.rename(columns={0: "cnt"}, inplace=True)
ntnlty_ctry_ct.head()

                cnt
nationality_en
Spain           233
Turkey           53
Italy            52
Argentina        44
Portugal         36

In [79]:
data_2 = [go.Bar(x=ntnlty_ctry_ct.index, y=ntnlty_ctry_ct["cnt"])]

In [80]:
layout_2 = go.Layout(
    title='Number of pictures taken by photographer\'s nationality',
    xaxis=dict(
        title='',
        tickangle=45,
        titlefont=dict(
            family='Arial, monospace',
            size=18,
            color='#7f7f7f'
        )
    ),
    yaxis=dict(
        title='Number of pictures',
        titlefont=dict(
            family='Arial, monospace',
            size=14,
            color='#7f7f7f'
        )
    )
)

In [81]:
fig_2 = go.Figure(data=data_2, layout=layout_2)

In [82]:
ply_url_2 = py.plot(fig_2, filename='phototakennatnlty-bar-chart', layout=layout_2)

In [83]:
tls.embed(ply_url_2)

In [85]:
photo_ctry_ct.to_csv('data/photo_ctry_ct.csv', header=True)

In [87]:
ntnlty_ctry_ct.to_csv('data/ntnlty_ctry_ct.csv', header=True)

In [88]:
from cartodb import CartoDBAPIKey, CartoDBException, FileImport

In [89]:
API_KEY = cfgInfo.get("cb_apikey")
cartodb_domain = cfgInfo.get("cb_domain")
cl = CartoDBAPIKey(API_KEY, cartodb_domain)

In [90]:
fi = FileImport("data/photo_ctry_ct.csv", cl, create_vis='false', privacy='public')
fi.run()

In [91]:
fi_2 = FileImport("data/ntnlty_ctry_ct.csv", cl, create_vis='false', privacy='public')
fi_2.run()

In [1]:
from IPython.display import HTML

In [6]:
cb_webmap_ntnlty_ctry_ct = '<iframe width="100%" height="520" frameborder="0" src="https://cayetanobv.carto.com/viz/1940ebaa-8a2f-4b2f-a5f7-9f06b6c18208/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>'

In [7]:
HTML(cb_webmap_ntnlty_ctry_ct)

In [8]:
cb_webmap_photo_ctry_ct = '<iframe width="100%" height="520" frameborder="0" src="https://cayetanobv.carto.com/viz/bb3271ca-22f2-11e7-badd-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>'

In [9]:
HTML(cb_webmap_photo_ctry_ct)